# Dependências
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Produção
/build

# Diversos
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variáveis de ambiente
.env
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
logs
*.log

bot-barberhub
bot-barberhub/auth_info
bot-barberhub/auth_info/*
bot-dowhatsapp
bot-dowhatsapp/auth_info
bot-dowhatsapp/auth_info/*
workers/verificar-pagamentos
workers